.cuadro {
    border: 2px solid #000;
    border-radius: 21px;
    width: 320px;
    padding: 10px;
}

.cuadro2 {
    border: 2px solid #000;
    border-radius: 21px;
    width: 320px;
    height: 200px;
    padding: 10px;
}

.cuadro2 h2 {
    font-size: 20px;
    padding-right: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: -10px;
    margin-left: -8px;
    width: 312px;  
    height: 30px;
    padding-left: 10px;
    color: white;
    background-color: rgb(222, 236, 15);
}

.cuadro h2 {
    font-size: 15px;
    padding-right: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: -10px;
    margin-left: -8px;
    width: 312px;  
    height: 30px;
    padding-left: 10px;
    color: white;
    background-color: green;
}

.cuadro input {
    border: none; 
    border-bottom: 3px solid rgb(156, 150, 150);
    width: 300px; 
    border-radius: 1px;
}

.cuadro button {
    margin-top: -10px;
}

.cuadro .fa-comments {
    position: absolute;
    left: 380px;
    top: 110px;
    font-size: 20px;
    transform: translateY(-50%);
}

.imagen-geometrica img {
    width: 150px;
    position: static;
    height: 150px;
    font-size: 12px;
}

.lado1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
    color: green;
    font-size: 20px;
}

.lado2 {
    text-align: center;
    margin-top: -32px;
    margin-right: -22px;
    color:green;
    font-size: 20px;
}

.area{
  position: absolute;
  margin-top: -110px;
  margin-left: 145px;
  color: red;
  font-size: 25px;
}

#parte-arriba{
    display:flex;
    justify-content:space-between;
    margin-top: 30px;
    margin-left: 64px;
    position: absolute;
   
}

#parte-arriba p{
    margin: 22px;
    font-weight: bold;
}

#parte-abajo p{
    font-weight: bold;
}

#parte-arriba-rec {
    display:flex;
    justify-content:space-between;
    margin-top: 50px;
    margin-left: 64px;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    
}

#parte-abajo-rec{
    margin-top: -20px;
    font-weight: bold;
    font-size: 20px;
}